@import "../../vars.css";

.container {
  margin-top: 69px;
  color: var(--color-text);
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.title {
  padding-top: 30px;
  font-size: 35px;
  text-align: center;
}

.carouselWrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12%;
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  position: absolute;
  width: 350px;
  cursor: pointer;
  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s ease;
}

/* NEXT (→) */
.next .center {
  transform: translateX(-140%) scale(0.85);
  opacity: 0.5;
}

.next .right {
  transform: translateX(-50%) scale(1.1);
  opacity: 1;
}

.next .left {
  transform: translateX(-220%) scale(0.8);
  opacity: 0;
}

/* PREV (←) */
.prev .center {
  transform: translateX(40%) scale(0.85);
  opacity: 0.5;
}

.prev .left {
  transform: translateX(-50%) scale(1.1);
  opacity: 1;
}

.prev .right {
  transform: translateX(140%) scale(0.8);
  opacity: 0;
}

.center {
  left: 50%;
  transform: translateX(-50%) scale(1.1);
  z-index: 3;
  opacity: 1;
}

.left {
  left: 50%;
  transform: translateX(-140%) scale(0.85);
  z-index: 2;
  opacity: 0.5;
}

.right {
  left: 50%;
  transform: translateX(40%) scale(0.85);
  z-index: 2;
  opacity: 0.5;
}

.arrow {
  background: transparent;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  font-size: 18px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.15);
}

/* ================= MOBILE ================= */
@media screen and (max-width: 830px) {
  .carouselWrapper {
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 830px) {
    .mobileArrow {
      transform: rotate(90deg);
    }

    .mobileArrow:hover {
      transform: rotate(90deg) scale(1.15);
    }
  }
  .carousel {
    position: static;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    position: static;
    transform: none !important;
    width: 100%;
    max-width: 350px;
    opacity: 1;
  }
}
