@import '../../vars.css';


.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius: 16px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1; /*thats why we needed the position to be relative*/
    margin-right: 10%;
    margin-left: 10%;
}

.title{
    font-weight: 700;
    color: var(--color-text);
    font-size: 35px;
    letter-spacing: 1.75;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage{
    width: 35%;
     border-radius: 20px;
}

.aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border-radius: 20px;
    padding: 25px;

    background-image: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;

}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 7px;
}

.aboutItem p{
    font-size: 23px;
}

@media screen and (max-width: 830px) {
    .container{
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .aboutImage{
        display: none;
    }

    .aboutItems{
        margin-top: 20px;
    }

    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }

    .title{
        text-align: center;
    }
}



