@import '../vars.css';
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, 
        rgba(255, 255, 255, 1) 70%, 
        rgba(255, 255, 255, 1) 120%
    );

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid white;

    width: 0;
    animation: typing 3s steps(25, end) forwards,
               blink 0.8s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    0% { border-color: white; }
    50% { border-color: transparent; }
    100% { border-color: white; }
}


.description{
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.contactBtn{
    text-decoration: none;
    background-color: var( --color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.heroImg{
    width: 50%;
    z-index: 1;
    
    animation: floating 3s ease-in-out infinite;

}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}
.topBlur{
    position: absolute;
    width: 50vh;
    height: 50vh;
    min-width: 350px;
    min-height: 350px;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 754px;
    background: rgba(25, 55, 109, 0.7);
    filter:blur(100px);
    z-index:0;
}

.bottomBlur{
    position: absolute;
    width: 70vw;
    height: 50vh;
    min-width: 350px;
    min-height: 250px;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 754px;
    background: rgba(25, 55, 109, 0.7);
    filter:blur(100px);
    z-index:0;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.cvBtn {
    display: flex;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    background-color: transparent;
    color: var(--color-text);

    border: 2px solid var(--color-primary);
    border-radius: 100px;

    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;

    transition: all 0.3s ease;
}

.cvBtn:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 830px) {
    .container{
        flex-direction: column-reverse;
    }

    .content{
        align-items: center;
        vertical-align: center;
        text-align: center;
    }

    .description{
        font-size: 30px;
    }

    .title {
        margin-top: 5px;
        font-size: 37px;

        /* keep typing effect */
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid white;

        width: 0;
        animation: typing 3s steps(25, end) forwards,
                   blink 0.8s infinite;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 32px;
        animation: typing 3.5s steps(25, end) forwards,
                   blink 0.8s infinite;
    }
}
